{% extends 'modals/baseModal.html' %}
{% load crispy_forms_tags %}
<!-- Modal ID -->
{% block modal-id %} id="updateNoteModal" caller-id="" {% endblock modal-id %}
<!-- Modal Title -->
{% block modal-title %}
<h5><i class="bi bi-question-circle"></i>&nbsp;&nbsp; Modifica note da Linea</h5>          
{% endblock modal-title %}
      <!-- Modal Body -->
{% block modal-body %}

<form action="{% url 'gestioneordini:update_note' pk=tempomaster.pk  %}" method="POST">
            
    {% csrf_token %}            
    {{ form_note.idtempomaster }}
    {{ form_note.idlinea }}
    {{ form_note.datatempo }}
    {{ form_note.iddettordine }}
    {{ form_note.note_da_linea|as_crispy_field }}
{% endblock modal-body %}


<!-- Modal Footer -->
{% block modal-footer %}

<button class="btn btn-outline-danger btn-sm" type="submit" ><i class="bi bi-trash-fill"></i>&nbsp;&nbsp; Salva</button>
</form>

{% endblock modal-footer %}
