{% extends 'modals/baseModal.html' %}
{% load crispy_forms_tags %}
<!-- Modal ID -->
{% block modal-id %} id="updateModal" caller-id="" {% endblock modal-id %}
<!-- Modal Title -->
{% block modal-title %}
<h5><i class="bi bi-question-circle"></i>&nbsp;&nbsp; Modifica quantità presa tempo</h5>          
{% endblock modal-title %}
      <!-- Modal Body -->
{% block modal-body %}
<p>Stai per modificare la quantità di questa presa tempo.</p>
<form action="{% url 'gestioneordini:update_quantity' pk=tempomaster.pk  %}" method="POST" id="formQuantity">
            
    {% csrf_token %}            
      {{ form.idtempomaster.as_hidden }}
      {{ form.idlinea.as_hidden }}
      {{ form.datatempo.as_hidden }}
      {{ form.iddettordine.as_hidden }}
      {{ form.quantity|as_crispy_field }}
{% endblock modal-body %}


<!-- Modal Footer -->
{% block modal-footer %}
        
<button class="btn btn-outline-danger btn-sm" type="submit" ><i class="bi bi-trash-fill"></i>&nbsp;&nbsp; Aggiorna</button>
</form>

{% endblock modal-footer %}
