{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    
    <div class="row text-align-center">
        <h1>404 - Ooops!</h1>
    </div>
    <div class="row">
        <h1>Qualcosa è andato storto</h1>
    </div>
    <img src="{%  static 'img/logo_X1.png' %}" alt="My image"/>
    <img src="{%  static 'img/Sun-Download-PNG.png' %}" alt="My image"/>
    <a class="btn btn-outline-success btn-sm" href="{% url 'gestioneordini:dashboard' %}" role="button"                       
        ><i class="bi bi-house"></i> Torna alla Homepage</a>
</div>


{% endblock content %}