<h5>Archivio prese tempo sulla {{ linea }}</h5>
<br>

<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for tempo in tempimaster_all %}    
        {% if tempo.id_linea.id_linea == linea.id_linea %}
            <div class="col">        
            <div class="card card-h mb-3 shadow rounded" style="max-width: 540px;">          
                <div class="row g-0">        
                <div class="col-md-12">            
                    <div class="card-body">
                        <div class="row">
                        <div class="col-md-10">
                            {% if tempo.tempo_conforme|lower == "tempo ok" %}
                                <h2><span style="color:green"><i class="bi bi-hand-thumbs-up-fill"></i> Tempo OK</span></h2>
                            {% elif tempo.tempo_conforme|lower == "tempo non conforme" %}
                                <h2><span style="color:red"><i class="bi bi-hand-thumbs-down-fill"></i> Tempo KO</span></h2>
                            {% else %}
                                <h2><span style="color:#fca311"><i class="bi bi-bell-fill"></i> NC Gestita</span></h2>
                            {% endif %}
                                <!-- <h5 class="card-title" >{{ tempo.id_linea }}</h5>     -->
                        </div>
                    
                        <div class="col-md-2">
                            <!-- <div class="spinner-grow text-success text-end" 
                            role="status">              
                            </div> -->
                        </div>
                        </div>
                        <hr>
                        <p class="mb-0">Presa tempo del <strong>{{ tempo.datatempo }}</strong></p> 
                        <p class="mt-0">Quantità presa tempo: <strong>{{ tempo.quantity|floatformat }} pezzi</strong></p> 
                        <h6>{{ tempo.iddettordine.idordine.idcliente.ragionesociale }}</h6>
                        <hr>
                        <p class="my-0">Ordine N. <strong>{{ tempo.iddettordine.idordine.nordine }}</strong> del <strong>{{ tempo.iddettordine.idordine.dataordine|date:'d/m/Y' }}</strong></p>              
                        {% if tempo.iddettordine.idcollegamento == None %}
                            <p class ="card-text my-0">Codice: <strong>{{ tempo.iddettordine.idcomponente }}</strong> | Descrizione: {{ tempo.iddettordine.idcomponente.descrizione|default_if_none:"" }}</p>                    
                        {% else %}
                            <p class ="card-text my-0">Collegamento: <strong>{{ tempo.iddettordine.idcollegamento }}</strong></p>
                            <p class ="card-text mb-0">Descrizione: {{ tempo.iddettordine.idcollegamento.descrizione|default_if_none:"" }}</p>                    
                        {% endif %}  
                        {% if tempo.iddettordine.ncommessa != None %}
                            <p class="mt-0">Commessa: {{ tempo.iddettordine.ncommessa }} | Quantità: {{ tempo.iddettordine.quantità|floatformat }} | Data Consegna: <strong>{{ tempo.iddettordine.dataconsegna|date:'d/m/Y' }}</strong></p>                  
                            <p class="mt-0">Riga: {{ tempo.iddettordine.posizione|floatformat }}</p>   
                        {% else %}
                            <p class="mt-0 mb-0">Quantità: {{ tempo.iddettordine.quantità|floatformat }} | Data Consegna: <strong>{{ linea.get_line.iddettordine.dataconsegna|date:'d/m/Y' }}</strong></p>
                            <p class="mt-0">Riga: {{ tempo.iddettordine.posizione|floatformat }}</p>
                        {% endif %}
                    </div>
                    <div class="card-footer text-center">
                        <a class="btn btn-outline-success btn-sm " href="{% url 'gestioneordini:visualizza_dettaglio_da_linea' pk=tempo.iddettordine.pk id_linea=tempo.id_linea.id_linea idtempomaster=tempo.pk %}" role="button">vedi dettaglio</a>                
                    </div>
                    
                    
                    
                </div>
                
                </div>
            
            </div>
            
            </div> 
            {% endif %}
    {% endfor %}     
    </div>