{% load static %}



<!-- inizio operatori attivi -->
<div class="table-responsive">
    <table class="table table-hover table-striped table-bordered">
    <thead class="thead-dark">
    <tr>          
        <th style="text-align: center;">Azioni</th>      
        <th style="text-align: center;">Operatore</th>    
        <th style="text-align: center;">Fase</th>
        <th style="text-align: center;">Data</th>
        <th style="text-align: center;">Ora Inizio</th>     
        <th style="text-align: center;">Ora Fine</th> 
        <th style="text-align: center;">Chiudi</th>
        <th style="text-align: center;">Cancella</th> 
    </tr>
    </thead>
    <hr>
    <tbody>
        {% for operatori_attivi in operatori_attivi %}
        <tr>
            <td style="text-align: center;"><a href="{% url 'gestioneordini:aggiorna_operatore' pk=operatori_attivi.pk iddett=dettaglio.pk  %}"><i class="bi bi-pencil"></i>
            </a></td>
            <td>{{ operatori_attivi.idoperatore }}</td>
            <td>{{ operatori_attivi.idfase }}</td>  
            <td>{{ operatori_attivi.datatempo|date:'d/m/Y' }}</td>
            <td>{{ operatori_attivi.orainizio }}</td> 
            <td>{{ operatori_attivi.orafine|default_if_none:" " }}</td>
            <td style="text-align: center;">
                <!-- Button trigger modal -->
                {% if operatori_attivi.orafine %}
                <a href="#" class="btn btn-sm btn-outline-success disabled "><i class="bi bi-alarm"></i> Chiudi</a>
                {% else %}                
                <a href="{% url 'gestioneordini:chiudi_operatore' idtempo=operatori_attivi.pk %}" title="Close" data-bs-toggle="modal" data-bs-target="#closeConfirmOperator" id="{{ operatori_attivi.pk }}" class="btn btn-sm btn-outline-success confirm-close"><i class="bi bi-alarm"></i> Chiudi</a>
                {% endif %}
            </td>
            <td>
            <!-- Button trigger modal -->
            
            
            <a href="{% url 'gestioneordini:cancella_operatore' idtempo=operatori_attivi.pk %}" class="btn btn-sm btn-outline-danger confirm-delete" title="Delete" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal" id="deleteButton{{operatori_attivi.pk}}"><i class="bi bi-trash"></i> Elimina</a>

        </td>
        
        </tr>
        
        {% endfor %}
        <hr>
    </tbody>
    </table>