{% load static %}


{% include 'modals/closeConfirmOperator.html' %}
<!-- inizio operatori attivi -->
<div class="table-responsive">
    <table class="table table-hover table-striped table-bordered">
    <thead class="thead-dark">
    <tr>          
        <th style="text-align: center;">Azioni</th>      
        <th style="text-align: center;">Operatore</th>    
        <th style="text-align: center;">Fase</th>
        <th style="text-align: center;">Data</th>
        <th style="text-align: center;">Ora Inizio</th>     
        <th style="text-align: center;">Ora Fine</th> 
        <th style="text-align: center;">Chiudi</th>
        <th style="text-align: center;">Cancella</th> 
    </tr>
    </thead>
    <hr>
    <tbody>
        {% for operatori_attivi in operatori_attivi %}
        <tr>
            <td style="text-align: center;"><a href="{% url 'gestioneordini:aggiorna_operatore' pk=operatori_attivi.pk iddett=dettaglio.pk  %}"><i class="bi bi-pencil"></i>
            </a></td>
            <td>{{ operatori_attivi.idoperatore }}</td>
            <td>{{ operatori_attivi.idfase }}</td>  
            <td>{{ operatori_attivi.datatempo }}</td>
            <td>{{ operatori_attivi.orainizio }}</td> 
            <td>{{ operatori_attivi.orafine|default_if_none:" " }}</td>
            <td style="text-align: center;">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-outline-success btn-sm" id="closeConfirmOperator" data-bs-toggle="modal" data-bs-target="#closeConfirmOperator">
                    <span class="bi bi-alarm"> Chiudi</span>
                </button>
                
            </td>
            <td>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-outline-danger btn-sm" id="delConfirmOperator" data-bs-toggle="modal" data-bs-target="#delConfirmOperator{{ operatori_attivi.pk }}">
                    <span class="bi bi-trash"> {{ operatori_attivi.pk }}</span>
                </button>
                
                
            </td>
            {% include 'modals/delConfirm.html' %}

                  
            
        </tr>
        
        {% endfor %}
        <hr>
    </tbody>
    </table>