{% load static %}
<!-- inizio card con linee impegnate -->
<div class="row row-cols-1 row-cols-md-3 g-4">
{% for linea in linee %}
    <div class="col">        
    <div class="card card-h mb-3 shadow rounded" style="max-width: 540px;">          
        <div class="row g-0">        
        <div class="col-md-12">            
            {% if linea.get_line.iddettordine %}
                {% for item in linee_dettaglio %}
                    {% if item.id_linea == linea.id_linea %}
                        {% if item.count > 1 %}
                        {% include 'partials/_working_lines_multiple.html' %}
                        {% else %}
                        {% include 'partials/_working_lines_single.html' %}
                        {% endif %}
                    {% endif %}                     
                        
                {% endfor %}
            
            {% else %}
            <div class="card-body">
                <h5 class="card-title" >{{ linea.descrizione_linea }}</h5>              
                <hr>
                <div class="col-md-12" style="text-align: center;">                
                <p class="text-muted">...non ci sono ordini in lavoro...</p>
                <a class="btn btn-outline-primary btn-sm " href="{% url 'gestioneordini:add-to-line' id_linea=linea.pk %}" role="button">aggiungine uno</a>
                </div>
            </div>
            {% endif %} 
            
        </div>
        
        </div>
    
    </div>
    
    </div> 
{% endfor %}     
</div>
<!-- fine card con linee impegnate -->