<div class="card-body">
    <div class="row">
    <div class="col-md-10">
        <h5 class="card-title" >{{ linea.descrizione_linea }}</h5>
        
    </div>

    <div class="col-md-2">
        <div class="spinner-grow text-success text-end" 
        role="status">              
        </div>
    </div>
    </div>
    <hr>
    <p>Ci sono <strong>{{ item.count }}</strong> prese tempo attive su questa linea</p>
</div>
<div class="card-footer text-center">
    <a class="btn btn-outline-success btn-sm " href="{% url 'gestioneordini:single-line' id_linea=linea.pk %}" role="button">vedi dettaglio</a>
    <a class="btn btn-outline-primary btn-sm " href="{% url 'gestioneordini:add-to-line' id_linea=linea.pk %}" role="button">aggiungi nuova presa tempo</a>
</div>