
<div style="display:fixed;">
    <h1>Operatori Attivi</h1>
    <h1>Prova</h1>
</div>
<div class="container">
<div class="table-responsive">
<table class="table table-hover table-striped table-bordered">
<thead class="thead-dark">
<tr>              
    <th>Operatore</th>    
    <th>Fase</th>
    <th>Data</th>
    <th>Ora Inizio</th>
    <th>Ora Fine</th> 
    
                
</tr>
</thead>
<hr>
<tbody>
    {% for operatore in operator_list %}
        
        <td>{{ operatore.idoperatore }}</td>
        <td>{{ operatore.idfase }}</td>  
        <td>{{ operatore.datatempo }}</td>
        <td>{{ operatore.orainizio }}</td>          
        
        
    </tr>
    
    {% endfor %}
    <hr>
</tbody>
</table>