{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block head_title %}{{ block.super }} - {{ dettaglio.idordine.nordine }}{% endblock head_title %}


{% block content %}
{% include 'modals/askHowManyLabels.html' %}
<br>
    {% if linea.id_linea == None %}
        <h5 class="text-end">Cliente: {{ dettaglio.idordine.idcliente.ragionesociale }}</h5>    
    {% else %}
        <h5 class="text-end">In lavorazione su {{ linea.descrizione_linea }}</h5>
    {% endif %}
<hr>
    <br>
    <div class="card">
        <div class="row">
        <div class="col-md-8">
            <div class="card-header">
                <p>Ragione Sociale {{ dettaglio.idordine.idcliente.ragionesociale }} - Ordine N. {{ dettaglio.idordine.nordine }} - Data Ordine {{ dettaglio.idordine.dataordine|date:'d/m/Y' }}</p>
                <hr>
                
                {% if dettaglio.idcollegamento == None %}
                    <p class ="card-text">Codice: {{ dettaglio.idcomponente }} | Descrizione: {{ dettaglio.idcomponente.descrizione|default_if_none:"" }}</p>
                
                {% else %}
                    <p class ="card-text">Collegamento: {{ dettaglio.idcollegamento }}</p><p class ="card-text">Descrizione: {{ dettaglio.idcollegamento.descrizione|default_if_none:"" }}</p>
                
                {% endif %}
                <hr>
                <p>Commessa: {{ dettaglio.ncommessa|default_if_none:"Nessuna commessa" }}</p>
                <p>Note dall'ufficio: {{ dettaglio.descrizione|default_if_none:"" }}</p>
                <hr>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <h6 class="mt-2">Data Consegna:</h6>
            </div>
            <div class="row">
                <h3 class="text-center">{{ dettaglio.dataconsegna|date:'d/m/Y' }}</h3>
            </div>
            <hr>
            <div class="row">
                <h6>Quantità:</h6>
            </div>
            <div class="row">
                <h1 class="text-center">{{ dettaglio.quantità|floatformat }}</h1>
            </div>
            <div class="row mb-3 justify-content-center">
                <div class="col-md-6 ">
                    <!--<a class="btn btn-warning btn-xl" 
                            href="{% url 'core:print_grid_label' iddettordine=dettaglio.iddettordine %}" target="_blank"><i class="bi bi-printer"></i>&nbsp;&nbsp; Tabella Griglie</a> -->
                            <button type="button" class="btn btn-warning btn-xl" id="askHowManyLabels" data-bs-toggle="modal" data-bs-target="#askHowManyLabels" >
                                <span class="bi bi-printer">&nbsp;&nbsp; Tabella Griglie</span>
                </button>
                </div>
            </div>
        </div>
        </div>
        
    </div>

<form method="POST">
    {% csrf_token %}
    {{ form.iddettordine.as_hidden }}
    {{ form.id_linea.as_hidden }}
    {{ form.idtempomaster.as_hidden }}
    <div class="row">
    <div class="col-md-2">  
        
        {{ form.datatempo|as_crispy_field }}
        
    </div>
    <div class="col-md-2">
        {{ form.quantity|as_crispy_field }}
    </div>
    <div class="col-md-2 align-self-center">
        <input class="btn btn-xl btn-success " type="submit" value="Salva e continua">
    </div>
    </div>

    
</form>

{% endblock content %}