{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block head_title %}{{ block.super }} - {{ dettaglio.idordine.nordine }}{% endblock head_title %}


{% block content %}

<div class="container">
    <h5 class="text-center">Attenzione!</h5>
    <h5 class="text-center">L'operatore {{ tempo.idoperatore }} selezionato</h5>
    <h5 class="text-center">risulta impegnato sulla linea {{ linea.id_linea }}</h5>
    <h5 class="text-center">in lavoro con l'ordine {{ dettaglio.idordine }}</h5>
    
    <h5 class="text-center">Cliente: {{ dettaglio.idordine.idcliente.ragionesociale }}</h5>    
    <h5 class="text-center">Presa tempo del {{ tempomaster.datatempo }}, su {{ linea.descrizione_linea }}</h5>
    <h5 class="text-center">Codice: {{ dettaglio.idcomponente }} | Descrizione: {{ dettaglio.idcomponente.descrizione|default_if_none:"" }} | Quantità Ordine N. {{ dettaglio.quantità|floatformat }}</h5>
    <h5 class="text-center">Se desideri chiudere quella presa tempo e inserire l'operatore in questa</h5>
    <h5 class="text-center">inserisci l'ora di chiusura e premi "Chiudi e inserisci"</h5>

    <form method="POST" novalidate> {% csrf_token %}
        
    <div class="form row g-3 justify-content-center">
        
        <div class="col-md-6">  
        
            {{ form.idtempo.as_hidden }}
            {{ form.idtempomaster.as_hidden }}            
            {{ form.id_linea.as_hidden }}  
            {{ form.idoperatore.as_hidden }}  
            {{ form.idfase.as_hidden }} 
            {{ form.orainizio.as_hidden }}
            {{ form.quantitatemporiparazione.as_hidden }}                    
        </div>
        <div class="invisible">data{{ form.datatempo|as_crispy_field }}</div>
        <div class="col-md-2 align-self-center">
            {{ form.orafine|as_crispy_field }}         
        </div>
        
                <div class="row justify-content-center">
                    <div class="col-md-4 text-end">
                        <input type="submit" class="btn btn-xl btn-success" value="Chiudi e inserisci">
                    </div>
                    <div class="col-md-4 text-start">
                        <a class="btn btn-xl btn-danger" 
                            href="{% url 'gestioneordini:visualizza_dettaglio_da_linea' pk=dettaglio.iddettordine id_linea=linea.id_linea idtempomaster=tempomaster.pk %}">Annulla</a>
                    </div>
                </div>
            
    </div>
    </form>
    </div>
    
{% endblock content %}