{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block head_title %}{{ block.super }} - {{ dettaglio.idordine.nordine }}{% endblock head_title %}


{% block content %}
{% include 'partials/_alerts.html' %}
    <div class="row justify-content-center mt-3">
        <div class="col-auto">
            <div class="card text-center border-warning">
                <div class="card-header">
                    <h5><i class="bi bi-exclamation-circle"></i> Attenzione!</h5>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ tempo.idoperatore }} è occupato!</h5>
                    <p class="card-text">{{ tempo.idoperatore }} risulta impegnato sulla linea {{ linea.id_linea }}</p>
                    <p class="card-text">al lavoro sull'ordine {{ dettaglio.idordine }}</p>
                    <p class="card-text">del cliente: {{ dettaglio.idordine.idcliente.ragionesociale }}</p>
                    <p class="card-text">Se desideri chiudere quella presa tempo e inserire l'operatore in questa,</p>
                    <p class="card-text">inserisci l'ora di chiusura e premi "Chiudi e inserisci"</p>
                    <form method="POST" novalidate> {% csrf_token %}        
                        <div class="form row g-3 justify-content-center ">                    
                            <div class="col-md-12">                   
                                {{ form.idtempo.as_hidden }}{{ form.idtempomaster.as_hidden }}{{ form.id_linea.as_hidden }}  
                                {{ form.idoperatore.as_hidden }}{{ form.idfase.as_hidden }}{{ form.orainizio.as_hidden }}
                                {{ form.quantitatemporiparazione.as_hidden }}{{ form.iddettordine.as_hidden }}                    
                            </div>
                            <div class="col-4 align-self-center mt-0">
                                {{ form.orafine|as_crispy_field }}         
                            </div>
                            
                            <div class="invisible mt-0 mb-0">data{{ form.datatempo|as_crispy_field }}</div>
                    
                </div>
                <div class="card-footer">
                    
                    
                    <button class="btn btn-success btn-sm" type="submit" ><i class="bi bi-person-check-fill"></i>&nbsp;&nbsp; Chiudi e Inserisci</button>
                    <a class="btn btn-danger btn-sm" 
                        href="{% url 'gestioneordini:visualizza_dettaglio_da_linea' pk=dettaglio.iddettordine id_linea=linea.id_linea idtempomaster=tempomaster.pk %}"><i class="bi bi-arrow-counterclockwise"></i>&nbsp;&nbsp; Annulla</a>
                </div>
            </form>
            </div>
        </div>
</div>

    
{% endblock content %}