{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block head_title %}{{ block.super }} - Crea Tempo{% endblock head_title %}

{% block content %}

<br>
<br>
<br>
<br>
<br>
<br>

<div class="container">
<form method="POST" novalidate> {% csrf_token %}
    
<div class="form row g-3">
    <div class="col-md-6">  
        
        {{ form.idtempo.as_hidden }}
        {{ form.idtempomaster|as_crispy_field }}
        <h3>Linea {{ linea.id_linea }}</h3>
        {{ form.id_linea.as_hidden }}                         
    </div>
    <div class="col-md-6">
        {{ form.idoperatore|as_crispy_field }} 
    </div>
    <div class="col-md-6">
        {{ form.idfase|as_crispy_field }} 
    </div>
    <div class="col-md-6">
        {{ form.datatempo|as_crispy_field }} 
        
    </div>
    <div class="col-md-6">
        
        {{ form.orainizio|as_crispy_field }}         
    </div>
    
    <div class="col-md-6">
        {{ form.orafine|as_crispy_field }}         
    </div>
    <div class="col-md-6">
        {{ form.quantitatemporiparazione|as_crispy_field }}         
    </div>
    <div class="col-md-6">
        {{ form.note|as_crispy_field }}         
    </div>
        <div class="container text-center">
            <div class="row">
                <div class="col text-end">
                    <input type="submit" class="btn btn-xl btn-success" value="Salva">
                </div>
                <div class="col text-start">
                    <a class="btn btn-xl btn-danger" 
                        href="{% url 'gestioneordini:visualizza_dettaglio_da_linea' pk=dettaglio.iddettordine id_linea=linea.id_linea idtempomaster=tempomaster.pk %}">Annulla</a>
                </div>
            </div>
        </div>
</div>
</form>
</div>
<script>
    $(function() {
        $( "#id_date_select" ).datetimepicker();
    });
</script>
{% endblock content %}
