{% extends 'base.html' %}
{% load static %}
{% block head_title %}{{ block.super }} - Dashboard{% endblock head_title %}
{% block content %}



<div style="display:fixed;">
  
<br>



<hr>
{% if tempi_aperti_count > 0 %}
<div class="row mb-2 justify-content-end">
    
    

    <div class="col-md-2 me-2">
        
        <button onclick="goToOpenTimes()" type="button" class="btn btn-primary btn-sm position-relative float-end ">
            Tempi aperti
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                {{ tempi_aperti_count }}
            <span class="visually-hidden">tempi aperti</span>
            </span>
        </button>
    </div>
</div>
        
{% endif %}
{% include 'partials/_stats_cards.html' %}
<p id="users-count"></p>

{% include 'partials/_working_lines.html' %}

</div>
<br>
<hr>
<br>


{% endblock content %}

{% block scripts %}{{ block.super }}
<script>
  document.body.onload = function(){
    incrementCount(0);    
    }
    if ('{{ n_operatori }}') {
    var count_operatori = '{{ n_operatori }}';
    } else {
    var count_operatori = 0;
    }
    if ('{{ ordini_in_lavoro }}') {
    var count_ordini = '{{ ordini_in_lavoro }}';
    } else {
    var count_ordini = 0;
    }
    console.log('counter_operatori: ' + count_operatori)
    console.log('counter_ordini: ' + count_ordini)
    // var counter_list = [0, '{{ n_operatori }}', 0, '{{ ordini_in_lavoro }}'];
    var counter_list = [0, parseInt(count_operatori), 0, parseInt(count_ordini)];
    console.log(counter_list);
    var str_counter_0 = counter_list[0];  
    var str_stop_counter_0 = counter_list[1]; 
    var display_str = "";
    var display_div = document.getElementById("display_div_id");

    var str_counter_ordini = counter_list[2];  
    var str_stop_counter_ordini = counter_list[3];
    var display_str_ordini = "";
    var display_div_ordini = document.getElementById("display_div_ordini");


    function incrementCount(current_count) {
        setInterval(function () {
            // clear count
            while (display_div.hasChildNodes()) {
                display_div.removeChild(display_div.lastChild);
            }
            if (str_counter_0< str_stop_counter_0){
                str_counter_0++;
            }
            
            while (display_div_ordini.hasChildNodes()) {
            display_div_ordini.removeChild(display_div_ordini.lastChild);
            }
            if (str_counter_ordini< str_stop_counter_ordini){
            str_counter_ordini++;
            }
            
            display_str = str_counter_0.toString(); //str_counter_2.toString(); + str_counter_1.toString() + str_counter_0.toString();
            for (var i = 0; i < display_str.length; i++) {
                var new_span = document.createElement('span');
                new_span.className = 'num_tiles';
                new_span.innerText = display_str[i];
                display_div.appendChild(new_span);
            }

            display_str_ordini = str_counter_ordini.toString(); //str_counter_2.toString(); + str_counter_1.toString() + str_counter_0.toString();
            for (var i = 0; i < display_str_ordini.length; i++) {
                var new_span = document.createElement('span');
                new_span.className = 'tot_ordini';
                new_span.innerText = display_str_ordini[i];
                display_div_ordini.appendChild(new_span);
            }
            
        }, 100);
        
    }



    function showValuesInModal(firstName,lastName){
    document.getElementById('firstNameValueId').innerHTML = firstName
    document.getElementById('secondNameValueId').innerHTML = lastName
    $('#id_id_danger').val(firstName);
    $("#modal-div").modal();
    }

    
    function goToOpenTimes(){
        document.location.href = "{% url 'gestioneordini:tempi_aperti' %}"
        
    }

    
    
</script>

<script src="{% static 'js/dashboard.js' %}"></script>

{% endblock scripts %}

