{% extends 'base.html' %}
{% load widget_tweaks %}

{% block head_title %}{{ block.super }} - Lista Ordini{% endblock head_title %}


{% block content %}


<div style="display:fixed;">
    <h1>Lista Ordini</h1>
</div>
<div class="row">
	<div class="col">
		<div class="card card-body">

      
			<form method="get">

        <div class="table-responsive-sm">
          <table class="table table-hover table-striped table-bordered">
            <thead class="thead-dark">
              <tr>     
                <th>Ordine</th>
                <th>Commessa</th>
                <th>Codice</th>  
                <th>Collegamento</th>
                <th>In Lavoro</th> 
                <th>Completato</th> 
              </tr>
            </thead>
            
            <tbody>
            <tr>
              <td style="width: 20%">                
                {% render_field filter.form.n_ordine class="form-control" %}
              </td>
              
              <td style="width: 20%">
                {% render_field filter.form.ncommessa class="form-control" %}
              </td>
              <td style="width: 20%">
                {% render_field filter.form.cod_comp class="form-control" %}
              </td>
              <td style="width: 20%">
                {% render_field filter.form.cod_coll class="form-control" %}
              </td>
              <td style = "text-align:center; width: 15%" >{{ filter.form.inlavoro|default_if_none:" " }}
                

              </td>
              <td style = "text-align:center; width: 15%" >{{ filter.form.completato|default_if_none:" " }}
                

              </td>
            </tr>
      
            
            
          </tbody>
          </table>
        </div>
          

        

		    <button class="btn btn-primary" type="submit"><i class="bi bi-search"></i>&nbsp;&nbsp; Cerca</button>
        
        
		  </form>
      
      
		</div>
	</div>
	
</div>
<br>
  <div class="container-fluid">
  <div class="table-responsive">
  <table class="table table-hover table-striped table-bordered">
    <thead class="thead-dark">
    <tr>        
      <th>Azioni</th>
      <th>Nr. Ordine</th>
      <th>Nr. Commessa</th>
      <th>Codice</th>
      <th>Collegamento</th>
      <th>Data Ordine</th>
      <th>Cliente</th> 
      <th>Stato Lavorazione</th>
                  
    </tr>
  </thead>
    
    <tbody>
      {% for dettaglio_ordini in initial_orders %}
          <td style="text-align: center;"><a href="{{ dettaglio_ordini.get_absolute_url }}"><i class="bi bi-pencil"></i>
          </a></td>
          <td class="col-md-1">{{ dettaglio_ordini.idordine.nordine }}</td>
          <td class="col-md-2">{{ dettaglio_ordini.ncommessa|default_if_none:" " }}</td>  
          <td class="col-md-2">{{ dettaglio_ordini.idcomponente.codice|default_if_none:" "  }}</td>
          <td class="col-md-1">{{ dettaglio_ordini.idcollegamento.codicecollegamento|default_if_none:" " }}</td>
          <td class="col-md-2" style="text-align: right;">{{ dettaglio_ordini.idordine.dataordine|date:'d/m/Y' }}</td>          
          <td class="col-md-1">{{ dettaglio_ordini.idordine.idcliente.ragionesociale|default_if_none:" " }}</td> 
          {% if dettaglio_ordini.inlavoro is False %} 
          {% if dettaglio_ordini.completato is False %}<td class="col-md-1" style="background-color: red;">non completato </td>                        
          {% else %}<td class="col-md-1" style="background-color: green;">completato</td>           
          {% endif %}
          {% else %}
          <td class="col-md-1" style="background-color: yellow;">in lavorazione</td>
          {% endif %}
        </tr>
      
      {% endfor %}
      
    </tbody>
  </table>
   <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a class="btn btn-info" href="?page=1">&laquo; Prima</a>
            <a class="btn btn-info" href="?page={{ page_obj.previous_page_number }}">Precedente &raquo;</a>
            
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
        
            <a class="btn btn-info" href="?page={{ page_obj.next_page_number }}">Successiva</a>
            <a class="btn btn-info" href="?page={{ page_obj.paginator.num_pages }}">Ultima &raquo;</a>
            
        {% endif %}
    </span>
</div>
</div>
{% endblock content %}