{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block head_title %}{{ block.super }} - {{ dettaglio.idordine.nordine }}{% endblock head_title %}


{% block content %}


{% include 'modals/closeConfirmTime.html' %}
<br>
<div class="row">
    <div class="col md-2">
        <a class="btn btn-outline-success btn-sm" href="{% url 'gestioneordini:dashboard' %}" role="button"                       
        ><i class="bi bi-house"></i> Homepage</a>
    </div>
    <div class="col md-10">
        {% if linea.id_linea == None %}
            <h5 class="text-end">Cliente: {{ dettaglio.idordine.idcliente.ragionesociale }}</h5>    
        {% else %}
            <h5 class="text-end">Presa tempo del {{ tempomaster.datatempo }}, su {{ linea.descrizione_linea }}</h5>
        {% endif %}
    </div>
</div>
    <hr>
    <br>
    <div class="card">
        <div class="row">
        <div class="col-md-8">
            <div class="card-header">
                <p>Ragione Sociale {{ dettaglio.idordine.idcliente.ragionesociale }} - Ordine N. {{ dettaglio.idordine.nordine }} - Data Ordine {{ dettaglio.idordine.dataordine|date:'d/m/Y' }} - Data Consegna {{ dettaglio.dataconsegna|date:'d/m/Y' }}</p>
                <hr>
                
                {% if dettaglio.idcollegamento == None %}
                    <p class ="card-text">Codice: {{ dettaglio.idcomponente }} | Descrizione: {{ dettaglio.idcomponente.descrizione|default_if_none:"" }} | Quantità Ordine N. {{ dettaglio.quantità|floatformat }}</p>
                
                {% else %}
                    <p class ="card-text">Collegamento: {{ dettaglio.idcollegamento }}</p><p class ="card-text">Descrizione: {{ dettaglio.idcollegamento.descrizione|default_if_none:"" }} | Quantità Ordine N. {{ dettaglio.quantità|floatformat }}</p>
                
                {% endif %}
                <hr>
                <p>Commessa: {{ dettaglio.ncommessa|default_if_none:"Nessuna commessa" }}</p>
                <p>Note dall'ufficio: {{ dettaglio.descrizione|default_if_none:"" }}</p>
                <hr>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <h6 class="mt-2">Quantità presa tempo:</h6>
            </div>
            <div class="row">
                <h1 class="text-center">{{ tempomaster.quantity|floatformat }}</h1>
            </div>
            <div class="row justify-content-center">
                

                <div class="col-6 mt-3">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#updateModal">
                    Aggiorna quantità presa tempo
                </button>
            </div>
            </div>
            
        </div>
        
        </div>
    </div>



    
    <div class="container">
    
                <!-- form chiudi-apri lavorazione -->
                <div class="row">
                    <div class="col-md-8">
                        
                    </div>
                    <div class="col-md-2">
                        
                    </div>
                    <div class="col-md-2">
                        <div class="form row g-3 mt-1">
                            {% if form.completato.value is True %}
                                <a class="btn btn-outline-success btn-sm" href="{% url 'gestioneordini:apri_lavorazione' pk=tempomaster.pk id_linea=linea.id_linea %}" role="button"                       
                                    ><i class="bi bi-alarm"></i> Riapri</a>
                            {% else %}                      
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-outline-danger btn-sm" id="closeConfirmTime" data-bs-toggle="modal" data-bs-target="#closeConfirmTime" >
                                    <span class="bi bi-stopwatch-fill"> Chiudi Lavorazione</span>
                                </button>
                                
                                
                            {% endif %}
                            
                        </div> 
                    
                    </div>
                
                <!-- fine form chiudi-apri lavorazione -->     
            </div>
        </div>
        
        


<hr>


<div class="container">
<div style="display:fixed;">
    <h5>Operatori Attivi</h5> 
    <a class="btn btn-sm btn-outline-primary" href="{% url 'gestioneordini:crea_tempo' pk=dettaglio.iddettordine pk_linea=linea.id_linea idtempomaster=tempomaster.pk %}">Aggiungi operatore manualmente</a>
    <br>
    <br>
    <p>...oppure...</p>
    <!-- Alerts -->
    {% include 'partials/_alerts.html' %}
    
    <div class="form-inline my-2 my-lg-0">
        <form class="d-flex" action="{% url 'gestioneordini:crea_tempo_barcode' pk=dettaglio.iddettordine pk_linea=linea.id_linea idtempomaster=tempomaster.pk  %}">
          <input
            name="q"
            class="form-control me-sm-2"
            type="search"
            placeholder="Leggi il codice a barre..."
            aria-label="Search"
            autofocus="True"
          />
          <button class="btn btn-outline-primary" type="submit"  >Cerca</button>
        </form>
        
      </div>
</div>
</div>

<div class="container">
    {% include 'partials/_workers.html' %}
    
</div>
{% include 'modals/updTimeQuantity.html' %}


{% endblock content %}