{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block head_title %}{{ block.super }} - {{ dettaglio.idordine.nordine }}{% endblock head_title %}


{% block content %}


{% include 'modals/closeConfirmTime.html' %}
{% include 'modals/delConfirmTime.html' %}
{% include 'modals/askHowManyLabels.html' %}


<br>
<div class="row justify-content-start">
    <div class="col-md-2">
        <a class="btn btn-outline-success btn-sm" href="{% url 'gestioneordini:dashboard' %}" role="button"                       
        ><i class="bi bi-house"></i> Homepage</a>
    </div>
    <div class="col-md-2">
        <button type="button" class="btn btn-outline-warning btn-sm mt-1" id="askHowManyLabels" data-bs-toggle="modal" data-bs-target="#askHowManyLabels" >
            <span class="bi bi-printer">&nbsp;&nbsp; Tabella Griglie</span>
        </button>
    </div>
    <div class="col-md-8">
        {% if linea.id_linea == None %}
            <h5 class="text-end">Cliente: {{ dettaglio.idordine.idcliente.ragionesociale }}</h5>    
        {% else %}
            <h5 class="text-end">Presa tempo n. {{ tempomaster.idtempomaster }} del {{ tempomaster.datatempo }}, su {{ linea.descrizione_linea }}</h5>
        {% endif %}
    </div>
</div>
    <hr>
    <br>
    <div class="card">
        <div class="row">
        <div class="col-md-8">
            <div class="card-header">
                <p>Ragione Sociale {{ dettaglio.idordine.idcliente.ragionesociale }} - Ordine N. {{ dettaglio.idordine.nordine }} - Data Ordine {{ dettaglio.idordine.dataordine|date:'d/m/Y' }} - Data Consegna {{ dettaglio.dataconsegna|date:'d/m/Y' }}</p>
                <hr>
                
                {% if dettaglio.idcollegamento == None %}
                    <p class ="card-text">Codice: {{ dettaglio.idcomponente }} | Descrizione: {{ dettaglio.idcomponente.descrizione|default_if_none:"" }} | Quantità Ordine N. {{ dettaglio.quantità|floatformat }}</p>
                
                {% else %}
                    <p class ="card-text">Collegamento: {{ dettaglio.idcollegamento }}</p><p class ="card-text">Descrizione: {{ dettaglio.idcollegamento.descrizione|default_if_none:"" }} | Quantità Ordine N. {{ dettaglio.quantità|floatformat }}</p>
                
                {% endif %}
                <hr>
                <p class="mb-0">Commessa: {{ dettaglio.ncommessa|default_if_none:"Nessuna commessa" }}</p>
                <p class="mb-0">Riga: {{ dettaglio.posizione|floatformat }}</p>
                <p class="mb-0">Note dall'ufficio: {{ dettaglio.note|default_if_none:"" }}</p>
                <p class="mb-0">Note da Linea: <span style="color:red">{{ tempomaster.note_da_linea|default_if_none:"" }}</span></p>
                <!-- Spazio per pulsante trigger-modal-->
                <!-- <div class="row justify-content-center"> -->
                    <div class="col-3 mt-3">
                
                    
                    <button type="button" class="btn btn-primary btn-sm" id="updLineNote" data-bs-toggle="modal" data-bs-target="#updateNoteModal" >
                        <span class="bi bi-file-earmark-plus"> Note da Linea</span>
                    </button>
                </div>
                <!-- </div> -->
                <!-- Fine Spazio per pulsante trigger-modal-->
                <hr>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <h6 class="mt-2">Quantità presa tempo:</h6>
            </div>
            <div class="row">
                <h1 class="text-center">{{ tempomaster.quantity|floatformat }}</h1>
            </div>
            <div class="row justify-content-center">
                

                <div class="col-6 mt-3">
                <!-- Button trigger modal -->
                
                <button type="button" class="btn btn-primary btn-sm" id="updTimeQuantity" data-bs-toggle="modal" data-bs-target="#updateModal" >
                    <span class="bi bi-stopwatch-fill"> Aggiorna quantità presa tempo</span>
                </button>
            </div>
            </div>
            
        </div>
        
        </div>
    </div>



    
    <div class="container">
    
                <!-- form chiudi-apri lavorazione -->
                <div class="row">
                    <div class="col-md-3 mt-2">
                        
                            
                    </div>
                    <div class="col-md-5 mt-2">
                        
                        
                    </div>
                    <div class="col-md-4">
                        <div class="form row g-3 mt-1">                                                
                            <!-- Button trigger modal -->
                            
                                
                                <div class="col">
                                    {% if tempomaster.completato %}
                                    <a href="#" class="btn btn-sm btn-outline-success disabled ">
                                        <span class="bi bi-stopwatch-fill"> Lavorazione chiusa</span>
                                    </a>
                                    {% else %}
                                    <button type="button" class="btn btn-outline-success btn-sm" id="closeConfirmTime" data-bs-toggle="modal" data-bs-target="#closeConfirmTime" >
                                        <span class="bi bi-stopwatch-fill"> Chiudi Lavorazione</span>
                                    </button>
                                    {% endif %}
                                </div>
                                <div class="col">
                                    <button type="button" class="btn btn-outline-danger btn-sm" id="delConfirmTime" data-bs-toggle="modal" data-bs-target="#delConfirmTime" >
                                        <span class="bi bi-trash-fill"> Elimina Presa Tempo</span>
                                    </button> 
                                </div>
                            
                        </div> 
                    
                    </div>
                
                <!-- fine form chiudi-apri lavorazione -->     
            </div>


            <!-- Sezione statistica Tempi -->
            {% if tot_tempo_min_sec %}
            {% if tempomaster.completato %}
            <hr>
            <h4>Statistiche tempi</h4>
            <div class="row">
                <div class="col-md-3 mt-2">
                    {% if tempo_medio %}
                    <p>Tempo nominale <strong>{{ tempo_medio }}</strong></p>
                    {% endif %}
                    {% if tolleranza_percentuale %}
                    <p>Percentuale di tolleranza <strong>{{ tolleranza_percentuale }}%</strong></p>
                    {% endif %}
                    {% if tot_tempo_min_sec %}
                        <p>Tempo di produzione <strong>{{ tot_tempo_min_sec }}</strong></p>
                    {% endif %}
                    {% if differenza_percentuale %}
                        {% if differenza_percentuale > 0 %}
                            <p>Differenza percentuale <strong  style="color: red">{{ differenza_percentuale }}%</strong></p>
                        {% else %}
                            <p>Differenza percentuale <strong>{{ differenza_percentuale }}%</strong></p>
                        {% endif %}
                    {% endif %}
                        
                </div>
                <div class="col-md-3 mt-2">
                    
                    {% if tempomaster.tempo_conforme|lower == "tempo ok" %}
                        <h2><span style="color:green"><i class="bi bi-hand-thumbs-up-fill"></i> Tempo OK</span></h2>
                    {% elif tempomaster.tempo_conforme|lower == "tempo non conforme" %}
                        <h2><span style="color:red"><i class="bi bi-hand-thumbs-down-fill"></i> Tempo KO</span></h2>
                    {% else %}
                        <h2><span style="color:#fca311"><i class="bi bi-bell-fill"></i> NC Gestita</span></h2>
                    {% endif %}

                </div>
                <!-- Form media tempo -->
                {% if tempomaster.completato %}
                <div class="col-md-6">
                    <form method="POST" id="mediaTempiForm">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-4">                                
                                {{ form_media_tempo.tempo_conforme|as_crispy_field }}
                            </div>
                            <div class="col-8">
                                {{ form_media_tempo.note_tempo_nc|as_crispy_field }}
                                <!-- Aggiungi il campo nascosto per l'ID del primo form -->
                                {{ form_media_tempo.idtempomaster.as_hidden }}
                                <div class="col-md-2 align-self-center">
                                    <input class="btn btn-xl btn-success " type="submit" value="Salva e continua" name="mediaTempiForm">
                                </div>
                            </div>
                        </div>
                            
                        
                    

                </form>
                
                </div>
                {% endif %}


            </div>
            {% endif %}
            {% endif %}
        </div>
        
        


<hr>


<div class="container">
    <div style="display:fixed;">
        <h5>Operatori Attivi</h5> 
        <a class="btn btn-sm btn-outline-primary" href="{% url 'gestioneordini:crea_tempo' pk=dettaglio.iddettordine pk_linea=linea.id_linea idtempomaster=tempomaster.pk %}">Aggiungi operatore manualmente</a>
        <br>
        <br>
        <p>...oppure...</p>
        <!-- Alerts -->
        {% include 'partials/_alerts.html' %}
        
        <div class="form-inline my-2 my-lg-0">
            <form class="d-flex" action="{% url 'gestioneordini:crea_tempo_barcode' pk=dettaglio.iddettordine pk_linea=linea.id_linea idtempomaster=tempomaster.pk  %}">
            <input
                name="q"
                class="form-control me-sm-2"
                type="search"
                placeholder="Leggi il codice a barre..."
                aria-label="Search"
                autofocus="True"
            />
            <button class="btn btn-outline-primary" type="submit"  >Cerca</button>
            </form>
            
        </div>
    </div>
</div>

<div class="container">
    {% include 'partials/_workers.html' %}
    
</div>
{% include 'modals/updTimeQuantity.html' %}
{% include 'modals/updLineNote.html' %}







{% endblock content %}


